*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
/*Перероблено під LESS*/
.clearfix {
  overflow: hidden;
  zoom:1;
  /* & - знак використовується для застосування
  псевдокласів таких як :hover, :first-child, :last-child та інших; */
  &:before{
    content:"";
    display:table;
  }
  &:after{
    content:"";
    display:table;
    clear:both;

  }
}
.clearfix() {
  overflow: hidden;
  zoom:1;
  /* & - знак використовується для застосування
  псевдокласів таких як :hover, :first-child, :last-child та інших; */
  &:before{
    content:"";
    display:table;
  }
  &:after{
    content:"";
    display:table;
    clear:both;

  }
}
.border-basic(@_size: 5px, @_border: none, @_bg: none, @_animate: none, @_time: .3s){
  -webkit-border-radius: @_size;
  border-radius: @_size;
  border: @_border;
  background: @_bg;
  & when (@_animate = true) {.animation-basic(@_time);}
}
.animation-basic(@_time: .3s){
  -webkit-transition: all @_time ease;
  -moz-transition: all @_time ease;
  -ms-transition: all @_time ease;
  -o-transition: all @_time ease;
  transition: all @_time ease;
}

@color_grey: #aaaaaa;
@color_white: #ffffff;
.font-basic(@_font: titillium-regular, @_size: 16px, @_weight: normal, @_color: @color_white, @_upper: none, @_align: none, @_line: 1){
  font-family: @_font;
  font-size: @_size;
  font-weight: @_weight;
  color: @_color;
  text-transform: @_upper;
  text-align: @_align;
  line-height: @_line;
}
@font-face {
  font-family: 'titillium-regular';
  src: url('../fonts/TitilliumWeb-Regular.eot');
  src: url('../fonts/TitilliumWeb-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumWeb-Regular.woff') format('woff'),
  url('../fonts/TitilliumWeb-Regular.ttf') format('truetype'),
  url('../fonts/TitilliumWeb-Regular.svg#CreativeBlockBBBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'titillium-bold';
  src: url('../fonts/TitilliumWeb-Bold.eot');
  src: url('../fonts/TitilliumWeb-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumWeb-Bold.woff') format('woff'),
  url('../fonts/TitilliumWeb-Bold.ttf') format('truetype'),
  url('../fonts/TitilliumWeb-Bold.svg#CreativeBlockBBBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'titillium-semibold';
  src: url('../fonts/TitilliumWeb-SemiBold.eot');
  src: url('../fonts/TitilliumWeb-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumWeb-SemiBold.woff') format('woff'),
  url('../fonts/TitilliumWeb-SemiBold.ttf') format('truetype'),
  url('../fonts/TitilliumWeb-SemiBold.svg#CreativeBlockBBBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'titillium-light';
  src: url('../fonts/TitilliumWeb-Light.eot');
  src: url('../fonts/TitilliumWeb-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumWeb-Light.woff') format('woff'),
  url('../fonts/TitilliumWeb-Light.ttf') format('truetype'),
  url('../fonts/TitilliumWeb-Light.svg#CreativeBlockBBBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@pd:100px 0px;
.border_st(@rad:5px , @border: none , @back: white ){
  border-radius: @rad;
  border: @border;
  background: @back;
}
h3{
  margin:20px 0px;
}
h2{
  margin:10px 0px;
}
body {
  scroll-behavior: smooth; /* плавный скролл */
}
a{
  font-family:titillium-light;
  text-decoration: none;
}
.button_tpl(@colorr:#eb7d4b, @color_bord:#c86a40 ,@widt:300px){
  padding:25px 80px;
  background: @colorr;
  border-bottom: 4px solid @color_bord;
  border-radius: 8px;
  width: @widt;
  margin: auto;
  color: @whitte;
  cursor: pointer;
  .clearfix();
  
}
.button_tpl_h(@red:red){
-moz-transform: translateY(-5px);
-webkit-transform:  translateY(-5px);
-o-transform:  translateY(-5px);
-ms-transform:  translateY(-5px);
transform:  translateY(-5px);
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-ms-transition: all 1s ease;
-o-transition: all 1s ease;
transition: all 1s ease;
color:@red;
}

.centr{
  text-align: center;
}
.center{
  margin:auto;
}
@whitte:white;
 .content{
  width: 255px;
  margin:20px 20px;
  float: left;
}
 .content:first-child{
  margin-right: 0px;
} .content:last-child{
  margin-left: 0px;
}
.content_2{
  .clearfix();
  width: 540px;
  float: left;
  margin: 20px;
}
.content_2_2{
  .clearfix();
  margin: 20px 20px 20px 0px ;
  width: 540px;
  float: left;
}
 .circle{
  width: 200px;
  height: 200px;
  .border_st(@rad:100px, @back:#878787 ,@border: 2px solid green,);
}
.strong{
  font-weight: 900;
}
h2{
  font-weight: 100;
}
a {
   color:  @whitte;
   &:hover{color: red;
   }
 }
hr{
  background: url(../img/hr_pixel.png);
  width: 90px;
  height: 4px;
  border: none;
  margin: auto;
}
.wrapper{
  width: 1140px;
  margin: 0 auto;
   ul{
    list-style: none;
  }

}
.block_1{
  .font-basic();
  background:#87509c;
   color: @whitte;
   padding-bottom: 100px;
   .header{
  margin-bottom:  140px ;
   img {
  margin-top: 11px;}
  ul {
 float: right;
li {
  text-transform: uppercase;
    float: left;
    padding: 11px 18px;
    &:hover {
      .border_st(@rad:15px , @back:#643a79 , );
}
  }}}
  .titl{
  width: 910px;
  margin-bottom: 60px;
    .otst{
  padding: 0px 152px;
 }
}
.button {.button_tpl;
  &:hover {
    .button_tpl_h;
  }
}
}
.block_2{
  padding: @pd;
 background: #17c2a4;
 color: @whitte;
 .after_h {
width: 600px;
}
.content {
  p{
  width: 170px;}}
}
.block_3{
  padding: @pd;
  background: #e7f1f8;
.mini_circle{
  width: 30px;
  height: 30px;
  background: #bdd1df;
  border-radius: 15px;
  margin: 15px 10px;
  float: left;
  img{
  margin-top: 8px;
  margin-left: 1px;
}
}
.content {
  .botom {
  margin-bottom:10px;
}
  a{color: black;
    &:hover{
      color:red;
      }}
  p{
  width: 170px;}}
.mini_circle_1{
margin-left: 33px;
}
.mini_circle_2{
  margin-left: 65px;
}
.botom{
  margin-bottom:10px;
}
.ceo{
  color:#30bae7;
}
.botom{
  margin-bottom:10px;
}
}

.block_4{
  .clearfix();
  padding: @pd;
  a{
    color: black;
    &:hover{
      color:red;
    }
  }
 .circle {
 .clearfix();
  p{
  padding:70px;
  font-size: 50px;
}}
.bg_1{.clearfix();
  background:url(../img/9procentow.png)  center no-repeat white ;
}
.bg_2{.clearfix();
  background:url(../img/75procentow.png)  center no-repeat white ;
}
.bg_3{.clearfix();
  background:url(../img/70procentow.png)  center no-repeat white ;
}
.bg_4{.clearfix();
  background:url(../img/85procentow.png)  center no-repeat white ;}
}
.bg_style_5{
  .clearfix();
  background: #ffdd99;
  padding: 120px 0 80px;
  h2{
    .font-basic(@_font: titillium-bold,@_size: 40px, @_align:center, @_weight: bold, @_upper: uppercase, @_color: #000);
  }
  p{
    margin-top: 50px;
    .font-basic(@_font: titillium-semibold, @_align:center, @_size: 18px, @_color: #000);
  }
  .position{
    text-align: center;
    margin: 60px 0;
    a{
      text-decoration: none;
      padding: 20px 60px;
      .font-basic(@_font: titillium-semibold, @_upper: uppercase);
      .border-basic(@_bg: #17c2a4);
      &:hover{
        .button_tpl_h(white);
        .border-basic(@_animate:true, @_bg: red);
       
      }
    }
  }
  .tabs {
    text-align: center;
    margin-top: 40px;
    .vkl1, .vkl2, .vkl3, .vkl4 {
      display: none;
    }

    input {
      display: none;
      &[type="radio"] {
        &:checked+label {
          .border-basic(@_bg: #a38484);
        }
      }
    }

    label {
      .font-basic(@_font: titillium-semibold, @_align:center, @_size: 18px, @_color: #393939, @_upper: uppercase, @_line: 20px);
      .border-basic(@_bg: #ebc985);
      cursor: pointer;
      padding: 10px 25px;
      position: relative;
      &:hover{
        .border-basic(@_bg: #a38484, @_animate: true);
      }
    }
    /*Тильда (~) позволяет обращатся к родственикам блока для стилизации */
    #vkl1:checked~.vkl1,
    #vkl2:checked~.vkl2,
    #vkl3:checked~.vkl3,
    #vkl4:checked~.vkl4 {
      display: block;
      padding: 5px;
    }

    ul{
      text-align: center;
      margin-top: 60px;
      li{display: inline-table;
        width: 540px;
        margin: 40px 0;
        p{
          margin-top: 15px;
          .font-basic(@_font: titillium-semibold, @_align:center, @_size: 18px, @_color: #000);

        }
      }
    }

  }

}
.block_6{
  .clearfix();
  padding:@pd;
  background: #d74680;
  color: white;
  .position{
  color: #facd96;
}
.top{
  padding: 20px 0px;
}
.circle_2{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: #787878;
  float: left;
}
.text {
  padding-top: 10px;
  float: left;
  width: 420px;
  margin-left: 20px;
}
.meseg{
  font-style: italic;
}}
.block_7{
  padding: @pd;
  background: #3c5499;
  color: white;
   form {
    padding: 30px 10px;
  width: 860px;
  margin:auto;
    .textarea_1{
 color: white;
  background: #273a71;
  border: none;
  border-radius: 10px;
  padding:  10px;
  resize: none;
  width: 398px;
  font-size: 18px;
  margin-bottom: 5px;
  &:first-child {
  margin-right: 40px;}}
  .text_maseg{
  margin: 0px;
  width: 840px;
  height: 169px;
  color: white;
  background: #273a71;
  border: none;
  border-radius: 10px;
  padding: 10px ;
  font-size: 18px;
}
 button{
  background: #30bae7;
  border-bottom: 4px solid #299ec5;
  color: white;
  padding: 20px 80px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  &:hover{.button_tpl_h;}
}
 p {
  margin-top: 30px;
}
}}
.footer{
  .clearfix();
  padding: 5px;
  background:#344b8e;
  font-size: 20px;
 a{
  color: white;
 &:hover{
  color:#30bae7;
}}
 ul{
  width: 755px ;
  margin: auto;
 li{
    float: left;
    padding: 11px 18px;
}}}
